@{
    Layout = null;
}

<DOCTYPE html>

    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MyView</title>
        <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div>
            <! Returns: Model + "World (from MyView)">
            @Model, World (from MyView)!
        </div>
        <h3 class="bg-primary text-white text-center p-2"> Plik CSS w projekcie MyFirstWebApp</h3>
    </body>
    </html>